<div class="menu-store">
  <div>
    <div class="title"><%= t ".product" %></div>
    <ul class="nav flex-column">
      <li class="nav-item">
        <%= link_to t(".all"), stores_path,
          class: "nav-link #{"active" if current_page? stores_path}" %>
      </li>
      <li class="nav-item">
        <%= link_to t(".food"), food_stores_path,
          class: "nav-link #{"active" if current_page? food_stores_path}" %>
      </li>
      <li class="nav-item">
        <%= link_to t(".drink"), drink_stores_path,
          class: "nav-link #{"active" if current_page? drink_stores_path}" %>
      </li>
    </ul>
  </div>
  <br>
  <div class="glass">
    <div class="title"><%= t ".filter" %></div>
    <%= render "stores/filter", object: @search, url: stores_path %>
  </div>
</div>
