<br>
<ul class="nav">
  <li class="nav-items">
    <%= link_to t(".dashboard"), admin_index_path, class: "nav-link" %>
  </li>
  <li class="nav-items">
    <%= link_to t(".order_by_day"), orders_by_day_admin_index_path, class: "nav-link" %>
  </li>
  <li class="nav-items">
    <%= link_to t(".order_by_week"), orders_by_week_admin_index_path, class: "nav-link" %>
  </li>
  <li class="nav-items">
    <%= link_to t(".order_by_month"), orders_by_month_admin_index_path, class: "nav-link" %>
  </li>
  <li class="nav-items">
    <%= link_to t(".order_by_year"), orders_by_year_admin_index_path, class: "nav-link" %>
  </li>
</ul>
<br>
