<% object.each do |product| %>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card items">
      <%= link_to product, class: "link_product" do %>
        <div><%= image_tag product.image.url, class: "img-fluid" %></div>
        <h5><%= product.name %></h5>
      <% end %>
      <% if product.discount.present? %>
        <div class="discount"><%= display_discount_for product %>%</div>
        <div class="price">
          <h6><%= number_to_currency(price_for product) %></h6>
          <h6><del><%= number_to_currency product.price %></del></h6>
        </div>
      <% else %>
        <h6><%= number_to_currency product.price %></h6>
      <% end %>
    </div>
  </div>
<% end %>
