<div class="container-fluid">
  <div class="row row-fluid">
    <div class="col-md-2">
      <%= render "share/menu_admin" %>
    </div>
    <div class="col-md-10">
      <%= render "orders/links" %>
      <% if @orders.present? %>
        <%= search_form_for @search do |f| %>
          <%= select_tag :item, load_limit_items, id: "show-limit", prompt: t(".limit") %>
        <% end %>
        <table class="table">
          <tr>
            <th>#</th>
            <th><%= t ".name" %></th>
            <th><%= t ".email" %></th>
            <th><%= t ".address" %></th>
            <th><%= t ".phone" %></th>
            <th><%= t ".status" %></th>
            <th><%= t ".next" %></th>
          </tr>
          <%= render @orders %>
        </table>
        <%== pagy_bootstrap_nav @pagy %>
      <% end %>
    </div>
  </div>
</div>
