<div class="form-group display-radio">
  <%= form.radio_button :star, 5 %>
  <%= form.label :star_5 do %>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
  <% end %>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= form.radio_button :star, 4 %>
  <%= form.label :star_4 do %>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
  <% end %>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= form.radio_button :star, 3 %>
  <%= form.label :star_3 do %>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
  <% end %>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= form.radio_button :star, 2 %>
  <%= form.label :star_2 do %>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
  <% end %>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= form.radio_button :star, 1 %>
  <%= form.label :star_1 do %>
    <i class="fa fa-star"></i>
  <% end %>
</div>
