<% provide :page, t(".page") %>
<div class="container-fluid">
  <div class="row row-fluid">
    <div class="col-md-2">
      <%= render "share/menu_admin" %>
    </div>
    <div class="col-md-10">
      <br>
      <div class="row">
        <div class="col-md-8">
          <%= render "share/filter", object: @search, url: categories_path,
            attributes: :name_cont %>
        </div>
        <div class="col-md-4">
          <%= link_to t(".new"), new_category_path, class: "btn btn-success btn-lg btn-block" %>
        </div>
      </div>
      <% if @categories.present? %>
        <table class="table" id="table">
          <tr>
            <th>#</th>
            <th><%= sort_link @search, :name, t(".name") %></th>
            <th><%= sort_link @search, :parent_id, t(".parent") %></th>
            <th><%= t ".action" %></th>
            <th><%= t ".info" %></th>
          </tr>
          <%= render @categories %>
        </table>
        <%= will_paginate @categories %>
      <% end %>
    </div>
  </div>
</div>
