<p><%= t ".welcome" %> <%= @resource.email %></p>
<p><%= t ".message" %></p>
<p><%= link_to t(".confirm"), edit_password_url(@resource, reset_password_token: @token) %></p>
<p><%= t ".suggest" %></p>
<p><%= t ".how_to" %></p>
