<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title yield :page %></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag Ckeditor.cdn_url %>
  </head>
  <body>
    <%= render "layouts/comments_plugin" %>
    <%= render "layouts/notice" %>
    <%= render "layouts/header" %>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>
